* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body {
    max-width: 1500px;
    margin: 0 auto;
}

header {
    height: 200px;
    text-align: center;
    
}

img {
    height: 120px;
    float: left;
}

h1 {
    color: rgb(209, 66, 66);
    padding: 30px;
}

#sottotitolo {
    color: rgb(37, 32, 32);
}

.box {
    height: 120px;
    width: 500px;
    background-color: black;   
}

h2 {
    
    color: white;
}

.title-work {
    color: white;
}

.email {
    color: rgb(38, 179, 226);
}

